/*Benkő Sámuel*/
h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

#design-a {
    
    text-decoration: none;
    color: black;
    font-family: 'Lobster', cursive;
    letter-spacing: -0.56px;
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
    background-color: #F3EDED;
    animation: bgScroll 20s linear infinite;
    position: relative;
}

header {
    padding: 1px;
    width: 100%;
    height: 200px;
    font-size: 1.3em;
    background-color: #AA530E;
}

#logo {
    float: left;
    width: 210px;
    height: 170px;
    margin: 5px 0 5px 10px;
}

nav {
    width: 100%;
    min-width: 200px;
    height: 50px;
    float: left;
    margin-bottom: 10px;
    background-color: #DF8931;
}

#page-chooser {
    display: flex;
    list-style: none;
    margin: 5px 0px 0px 0px;
    user-select: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#page-chooser li {
    background-color: #F5C16C;
    width: 150px;
    height: 35px;
    margin-right: 10px;
    margin-left: 10px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}

#page-chooser li:hover {
    background-color: #FF3438;
}

#container {
    margin-top: 20px;
    float: left;
    width: 100%;
}

section {
    padding-top: 50px;
    border-radius: 16px;
    width: 1100px;
    height: 700px;
    background-color: #F5C16C;
    margin-right: auto;
    margin-left: auto;
}

#pizza-list {
    width: 900px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#pizza {
    border-radius: 16px;
    background-color: #F3EDED;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px;
}

#pizza-item1,
#pizza-item2,
#pizza-item3 {
    background-size: cover;
    background-position: center;
    border-radius: 16px 16px 0px 0px;
    height: 150px;
    width: 100%;
}

#pizza-item1 {
    background-image: url("../images/pizza3.jpg");
}

#pizza-item2 {
    background-image: url("../images/pizza2.jpg");
}

#pizza-item3 {
    background-image: url("../images/pizza1.jpg");
}

#welcome {
    border-radius: 16px;
    width: 840px;
    height: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F3EDED;
    text-align: justify;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px 25px 1px 25px;
    box-sizing: border-box;
}

#shop-list {
    width: 1100px;
    height: 310px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

#shop {
    border-radius: 16px;
    width: 350px;
    height: 270px;
    margin-top: 20px;
    background-color: #F5C16C;
    text-align: center;
}
#shop-item1,
#shop-item2,
#shop-item3 {
    
    border: 3px solid black;
    background-size: cover;
    background-position: center;
    border-radius: 16px 16px 0px 0px;
    height: 200px;
    width: 344.98px;
}

#shop-item1 {
    background-image: url("../images/shop1.jpg");
}

#shop-item2 {
    background-image: url("../images/shop2.jpg");
}

#shop-item3 {
    background-image: url("../images/shop3.jpg");
}

#upper-footer {
    float: left;
    width: 100%;
    height: 50px;
    background-color: #DF8931;
}

#lower-footer {
    float: left;
    width: 100%;
    height: 50px;
    background-color: #AA530E;
}